.app-wrapper > img {
    display: block;
    width: 100%;
}
.app-wrapper {
    max-width: 290px;
    margin: 20px auto 20px auto;
    padding: 0;
    background-color: #f5f5f5;
    border: 0.5px solid #ddd;
}
.app-wrapper .buttons-wrapper {
    margin-bottom: 5px;
    padding: 10px 0px 5px 0px;
    text-align: center;
}
.app-wrapper .bunki-wrapper {
    margin-bottom: 5px;
    padding: 5px 0px 10px 0px;
    text-align: center;
}
.app-wrapper .message-wrapper {
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    margin: 0 10px 5px 10px;
    text-align: center;
    min-height: 1.5rem;
}
.btn-outline-dark.white {
    background-color: white;
}
.btn-outline-dark.white:hover {
    color: #212529;
    background-color: #f8f9fa;
}
.x {
    font-size: 0.6rem;
    position: absolute;
    top: -5px;
    left: 13px;
    color: crimson;
}
.y {
    font-size: 0.6rem;
    position: absolute;
    top: 7px;
    left: -3px;
    color: crimson;
}

.bounce-down {
    animation: bounce-down 0.5s both;
    animation-timing-function: ease-out;
}
@keyframes bounce-down {
  0% {
    text-shadow: 0 -10px 0 #000;
    transform: translateY(-15px);
	opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
	opacity: 1;
  }
}
.bounce-up {
    animation: bounce-up 0.5s both;
}
@keyframes bounce-up {
  0% {
    transform: translateY(15px);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateY(10px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(3px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(1px);
    animation-timing-function: ease-in;
  }
  30%,
  75%,
  85%,
  92% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
